html {
	background-color: #dbd6cf;
}

h1,h2,h3 {
	font-weight: bold;
	font-family: 'Bevan', cursive;
	line-height: 1.5;
}

ol{
	list-style-type:none;
	padding:0;
}

body{
	font-family: 'Georgia', sans-serif;

}

.plan{
	color: #79756f;
}

.intro{
	color:#79756f;
}

.terre{
	color:#79756f;
}

.mars{
	color:#79756f;
}

.venus{
	color:#79756f;
}

.sour{
	color:#dbd6cf;
}

a{
	color:#704c84;
}

a:hover{
	color:#f26f51;
}

dt{
	font-weight: bold;
	font-size: 1em;
}

.celest{
	color:#79756f;
}

.round{
	color:#79756f;
}

.neil{
	 color:#79756f;
	 text-align:right;
}

.comp{
	font-size:0.5rem;
	font-style:italic;
	font-family: 'Georgia', sans-serif;
}

.real{
		font-size:0.5rem;
	font-style:italic;
	font-family: 'Georgia', sans-serif;
}

.links {
	list-style-type: circle;
}

blockquote{
	text-align:center;
	font-size:1.5rem;
	font-style:italic;
}

span {
	color:#79756f;
	font-weight:bold;
}

figure {
	display: inline-block;
	padding: 0.5em 0.75em;
	border: 3px solid #bcb9b2;
	border-radius: 4px;
}

footer {
	background-color: #79756f;
	padding: 0.5em 0.75em;
}

nav {
	background-color: #703838;
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
}
